In [28]:
# !wget https://f000.backblazeb2.com/file/malay-dataset/sparc.zip
# !wget https://f000.backblazeb2.com/file/malay-dataset/spider.zip
# !wget https://f000.backblazeb2.com/file/malay-dataset/cosql_dataset.zip

In [33]:
# !unzip spider.zip
# !unzip cosql_dataset.zip
# !unzip sparc.zip

In [24]:
from glob import glob

spider = glob('spider/*.json')
spider = [i for i in spider if 'tables' not in i]
spider

['spider/dev.json', 'spider/train_spider.json', 'spider/train_others.json']

In [25]:
import json

spiders = []

for file in spider:
    with open(file) as fopen:
        data = json.load(fopen)
        
    spiders.extend(data)
    
len(spiders)

9693

In [26]:
spiders[0]

{'db_id': 'concert_singer',
 'query': 'SELECT count(*) FROM singer',
 'query_toks': ['SELECT', 'count', '(', '*', ')', 'FROM', 'singer'],
 'query_toks_no_value': ['select', 'count', '(', '*', ')', 'from', 'singer'],
 'question': 'How many singers do we have?',
 'question_toks': ['How', 'many', 'singers', 'do', 'we', 'have', '?'],
 'sql': {'except': None,
  'from': {'conds': [], 'table_units': [['table_unit', 1]]},
  'groupBy': [],
  'having': [],
  'intersect': None,
  'limit': None,
  'orderBy': [],
  'select': [False, [[3, [0, [0, 0, False], None]]]],
  'union': None,
  'where': []}}

In [27]:
with open('spider.json', 'w') as fopen:
    json.dump(spiders, fopen)

In [37]:
sparc = glob('sparc/*.json')
sparc = [i for i in sparc if 'tables' not in i]
sparc

['sparc/dev.json', 'sparc/train.json']

In [38]:
with open('sparc/train.json') as fopen:
    data = json.load(fopen)

In [54]:
import uuid

str(uuid.uuid4())

'2acd7e3d-7f43-42c8-910f-249f4ec297e8'

In [55]:
sparcs = []

for file in sparc:
    with open(file) as fopen:
        data = json.load(fopen)
        
    for i in range(len(data)):
        d = data[i]['database_id']
        u = str(uuid.uuid4())
        
        for k in range(len(data[i]['interaction'])):
            c = data[i]['interaction'][k].copy()
            c['k'] = k
            c['database_id'] = d
            c['uuid'] = u
            sparcs.append(c)
        c = data[i]['final'].copy()
        c['final'] = True
        c['database_id'] = d
        c['uuid'] = u
        sparcs.append(c)

len(sparcs)

13684

In [56]:
sparcs[:5]

[{'query': 'SELECT * FROM AIRLINES',
  'utterance_toks': ['What', 'are', 'all', 'the', 'airlines', '?'],
  'utterance': 'What are all the airlines?',
  'sql': {'orderBy': [],
   'from': {'table_units': [['table_unit', 0]], 'conds': []},
   'union': None,
   'except': None,
   'groupBy': [],
   'limit': None,
   'intersect': None,
   'where': [],
   'having': [],
   'select': [False, [[0, [0, [0, 0, False], None]]]]},
  'k': 0,
  'database_id': 'flight_2',
  'uuid': '2eb917e8-2f27-4553-935d-ffc6df280492'},
 {'query': 'SELECT * FROM AIRLINES WHERE Airline  =  "JetBlue Airways"',
  'utterance_toks': ['Of',
   'these',
   ',',
   'which',
   'is',
   'Jetblue',
   'Airways',
   '?'],
  'utterance': 'Of these, which is Jetblue Airways?',
  'sql': {'orderBy': [],
   'from': {'table_units': [['table_unit', 0]], 'conds': []},
   'union': None,
   'except': None,
   'groupBy': [],
   'limit': None,
   'intersect': None,
   'where': [[False, 2, [0, [0, 2, False], None], '"JetBlue Airways"', None]],
   'having': [],
   'select': [False, [[0, [0, [0, 0, False], None]]]]},
  'k': 1,
  'database_id': 'flight_2',
  'uuid': '2eb917e8-2f27-4553-935d-ffc6df280492'},
 {'query': 'SELECT Country FROM AIRLINES WHERE Airline  =  "JetBlue Airways"',
  'utterance_toks': ['What',
   'is',
   'the',
   'country',
   'corresponding',
   'it',
   '?'],
  'utterance': 'What is the country corresponding it?',
  'sql': {'orderBy': [],
   'from': {'table_units': [['table_unit', 0]], 'conds': []},
   'union': None,
   'except': None,
   'groupBy': [],
   'limit': None,
   'intersect': None,
   'where': [[False, 2, [0, [0, 2, False], None], '"JetBlue Airways"', None]],
   'having': [],
   'select': [False, [[0, [0, [0, 4, False], None]]]]},
  'k': 2,
  'database_id': 'flight_2',
  'uuid': '2eb917e8-2f27-4553-935d-ffc6df280492'},
 {'query': 'SELECT Country FROM AIRLINES WHERE Airline  =  "JetBlue Airways"',
  'utterance': 'What country is Jetblue Airways affiliated with?',
  'final': True,
  'database_id': 'flight_2',
  'uuid': '2eb917e8-2f27-4553-935d-ffc6df280492'},
 {'query': 'SELECT Abbreviation FROM AIRLINES',
  'utterance_toks': ['What', 'are', 'all', 'the', 'abbreviations', '?'],
  'utterance': 'What are all the abbreviations?',
  'sql': {'orderBy': [],
   'from': {'table_units': [['table_unit', 0]], 'conds': []},
   'union': None,
   'except': None,
   'groupBy': [],
   'limit': None,
   'intersect': None,
   'where': [],
   'having': [],
   'select': [False, [[0, [0, [0, 3, False], None]]]]},
  'k': 0,
  'database_id': 'flight_2',
  'uuid': '0a64b28d-f527-49ef-8d2b-db91e789af75'}]

In [57]:
with open('sparc.json', 'w') as fopen:
    json.dump(sparcs, fopen)

In [64]:
cosql = glob('cosql_dataset/sql_state_tracking/*.json')
cosql = [i for i in cosql if 'tables' not in i]
cosql

['cosql_dataset/sql_state_tracking/cosql_dev.json',
 'cosql_dataset/sql_state_tracking/cosql_train.json']

In [70]:
cosqls = []

for file in cosql:
    print(file)
    with open(file) as fopen:
        data = json.load(fopen)
        
    for i in range(len(data)):
        d = data[i]['database_id']
        u = str(uuid.uuid4())
        
        for k in range(len(data[i]['interaction'])):
            c = data[i]['interaction'][k].copy()
            c['k'] = k
            c['database_id'] = d
            c['uuid'] = u
            sparcs.append(c)
        c = data[i]['final'].copy()
        c['final'] = True
        c['database_id'] = d
        c['uuid'] = u
        cosqls.append(c)

len(cosqls)

cosql_dataset/sql_state_tracking/cosql_dev.json
cosql_dataset/sql_state_tracking/cosql_train.json

2452

In [73]:
with open('cosql.json', 'w') as fopen:
    json.dump(cosqls, fopen)